nav{
    margin-bottom: 20px;
}

header{
    margin-bottom: 20px;
}

.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.header-login{
    gap: 50px;
    display: flex;
}

.header-name p{
    font-size: 40px;
    color: #A29BFE;
    font-weight: bold;
}

.header-login p{
    font-size: 20px;
    font-weight: bold;
}

.divtwo{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    font-weight: bold;
}

.direct-link{
    text-decoration: none;
    color: black;
}